http://localhost:2015 {

  handle_path /web/config.json {
    root * .
    rewrite * /config/config.json
    file_server
  }
  handle_path /web* {

    root * build
    encode
    file_server
    templates


    @lang path_regexp myreg (en|ar|ku).*

    handle @lang {
      vars lang_code {re.myreg.1}
      map {re.myreg.1} {text_dir} {
        ar rtl
        ku rtl
        default ltr
      }
      vars content_dir {text_dir}

      try_files {path} /index.html
    }

    # default handler
    handle {
      try_files {path} /index.html
    }
  }
}
